<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwa example</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <section class="screen" id="pageD">
        <div class="header"></div>
        <div class="letra">D</div>
        <div class="contenido">
            <img id="imagen" src="../assets/img/persona.png" alt="">
            <img  id="gif" src="../assets/gif/homero.gif" alt="">
            <video id="video" controls>
                <source src="../assets//video/radical.mp4" type="video/mp4">
            </video>
        </div>
        <div class="footer">
            <a href="./pageC.html"><div class="triangulo"></div></a>
        </div>
    </section>
</body>
</html>