<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwa example</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <section class="screen" id="pageC">
        <div class="header"></div>
        <div class="letra">C</div>
        <div class="contenido">
            <div class="operacion">
                <input type="text" id="num1" class="numeros variables">
                <span>+</span>
                <input type="text" id="num2" class="numeros variables">
            </div>
            <div class="resultado">
                <span>Resultado: </span>
                <input type="text" id="num3" class="numeros">
            </div>
            <a href="./pageD.html"><img src="../assets/icon/Boton.png" alt=""></a>    
        </div>
        <div class="footer">
            <a href="./pageB.html"><div class="triangulo"></div></a>
        </div>
    </section>
    <script src="../js/funciones.js"></script>
</body>
</html>