<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwa example</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <section class="screen" id="pageA">
        <div class="header transparent"></div>
        <div class="letra">A</div>
        <div class="contenido">
            <div class="operacion">
                <input type="text" id="numa" class="numeros variables">
                <span>+</span>
                <input type="text" id="numb" class="numeros variables">
            </div>
            <div class="resultado">
                <span>Resultado: </span>
                <input type="text"  class="numeros">
            </div>
            <a id="btn" href="#"><img src="../assets/icon/Boton.png" alt=""></a>    
        </div>
        <div class="footer transparent">

        </div>
    </section>
    <script src="../js/funcionesb.js"></script>
</body>
</html>